/**
 * @fileOverview a default version of the params-file for instance specific configuration.
 * Makes things work just pointing a CORS compatible Browser (non-IE, IE >= 10) at the
 * local copy. The switch URL is a temporary reverse proxy solution.
 */

/**
 * @module corpus_shell 
 */
 
/** 
 * Base url. Needs to be set to a working installation of the php modules
 * especially if the app is run from disk
 * @type {url}  
 */
baseURL = "http://corpus3.aac.ac.at/vicav2/corpus_shell/";
//var baseURL = "http://localhost/corpus_shell/";
/** The place where the php scripts for user data management live
 * (see the modules/userdata sub directory).
 * It's assumend this is a path realtive to the baseUrl.
 * @type {path}
 */
var userData = "/modules/userdata/";
/** The url of the switch script. May be anywhere on the internet if
 * cross-origin resource shareing (CORS, see enable-cors.org) is properly set up.
 * @type {url} 
 */
var switchURL = baseURL + "/modules/fcs-aggregator/switch.php";
/** The url or path where the templates which are used for the UI should be loaded from.
 * Please not: if this is a relative url it may be relative to whatever URL the
 * corpus_shell is called from. Do not use relative URLs if you can't be sure
 * about that. Note that this is assumed to end with a slash (/)
 * @type {url|path}
 */
var templateLocation = "scripts/js/";