<?xml version="1.0"?>
<config>
   <server>
       <key>clarin.at:icltt:ddc</key>
       <ip>192.168.0.5</ip>
       <port>50000</port>
       <displayText>Text corpora by ICLTT on DDC</displayText>
       <corpora>
           <item>
              <key>clarin.at:icltt:ddc:traum_deu</key>
              <name>traum_deu</name>
              <displayText>Freud: Die Traumdeutung, German</displayText>
           </item>
           <item>
              <key>clarin.at:icltt:ddc:traum_russ</key>
              <name>traum_russ</name>
              <displayText>Freud: Die Traumdeutung, Russian</displayText>
           </item>           
           <item>
              <key>clarin.at:icltt:ddc:barock</key>
              <name>barock</name>
              <displayText>Barocktexte</displayText>
              <fileMask>Abraham-Mercks_Wienn_</fileMask>
           </item>
       </corpora>
   </server>
   <server>
       <key>clarin.at:icltt:ddc</key>
       <ip>192.168.0.6</ip>
       <port>50000</port>
       <displayText>Text corpora by ICLTT on DDC</displayText>
       <corpora>
           <item>
              <key>clarin.at:icltt:ddc:c4</key>
              <name>c4</name>
              <displayText>C4 Vienna</displayText>
           </item>
       </corpora>
   </server>
</config>