<Repositories>
   <styles>
      <style operation="searchRetrieve">http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <style operation="scan">http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/scan2view.xsl</style>
      <style operation="explain">http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/explain2view.xsl</style>
      <style operation="default">http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/xml2view.xsl</style>
   </styles>
   <item>
      <name>arz_eng_006</name>
      <label>VICAV dictionary Cairo-dialect</label>
      <id>1</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>apc_eng_002</name>
      <label>VICAV dictionary Damascus-dialect</label>
      <id>2</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>deu_wikt_002</name>
      <label>Wiktionary</label>
      <id>3</id>
      <type>fcs</type>
      <!-- <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/wiktionary.xsl</style> -->
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/WiktionaryOnSRU.php</uri>
   </item>
   <item>
      <name>clarin.at:icltt:ddc</name>
      <label>DDC on Corpus3</label>
      <id>4</id>
      <type>fcs.resource</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/ddconsru</uri>
   </item>
<!--
   <item>
      <name>sru-corpus-ddcon</name>
      <label></label>
      <id>4</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/ddckwic.xsl</style>
      <uri>http://corpus3.aac.ac.at/ddconsru</uri>
   </item>
-->
   <!--<item>
      <name>sru-cqlservlet</name>
      <label></label><id>5</id>
      <type>sru</type>
      <style>http://clarin.aac.ac.at/exist7/rest/db/content_repository/scripts/http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/mdset2view.xsl</style>
      <uri>http://cqlservlet.mpi.nl/</uri>
   </item> -->
   <item>
      <name>sru-gutenberg</name>
      <label>Gutenberg Metadata</label>
      <id>6</id>
      <type>sru</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://opencontent.indexdata.com/gutenberg</uri>
   </item>
   <item>
      <name>vicav-profile</name>
      <label>VICAV Profile</label>
      <id>7</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/profile.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/ProfileOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-bib</name>
      <label>VICAV Bibliography</label>
      <id>8</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/bibliography.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/BibliographyOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-text</name>
      <label>VICAV Sampletexte</label>
      <id>9</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/profilesampletext.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/SampleTextOnSRU.php</uri>
   </item>
	<item>
      <name>ids-goethe</name>
      <label>IDS Goethe</label>
      <id>10</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.ids-mannheim.de/cosmassru</uri>
   </item>
		<item>
      <name>arz_eng_006_newStyle</name>
      <label>VICAV dictionary Cairo-dialect newStyle</label>
      <id>11</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/fcs/wrapper/php/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>clarin.at:icltt:cr</name>
      <label>ICLTT Content Repository</label>
      <id>12</id>
      <type>fcs.resource</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.aac.ac.at/exist8/rest/db/cr/cr.xql</uri>
   </item>
   <item>
      <name>clarin-d:digilib</name>
      <label>TextGrid Digital Library</label>
      <id>13</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.ids-mannheim.de/digibibsru</uri>
   </item>
      <item>
      <name>clarin-d:tueba-ddc</name>
      <label>TueBa/DDC</label>
      <id>14</id>
      <type>sru</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://weblicht.sfs.uni-tuebingen.de/rws/cqp-ws/cqp/tueba-ddc</uri>
   </item>
   
</Repositories>