<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- root CMD/explain-record describing this repository-->
    <property key="site.name">CLARIN Metadata Repository</property>
    <property key="explain">clarin.eu:mdrepo.cmd</property>
    <property key="mappings">/db/cr/conf/mdrepo/mappings.xml</property>
    <property key="data.path">/db/mdrepo-data</property>
    <property key="cache.path">/db/mdrepo-data/_indexes</property>
    <property key="metadata.path">/db/mdrepo-data/_cmd</property>
    <property key="static.path">/db/mdrepo-data/_static</property>
    <property key="index.prefix">/db/mdrepo-data/_indexes/index_</property>
    <property key="base.url">/cr/mdrepo.xql</property>
    <property key="scripts.url">http://localhost:8682/exist/cr-scripts/</property>
    <property key="site.logo">/style/logo_clarin.png</property>
</config>