/*
 The style for the corpus_shell HTML5 app
 ========================================

 Setting html and body to 100% is the HTML5 way of using the whole window.
 Other parts of the page have to be configured to expand as well.
 Failure to do this results in the gray (#CCCCCC) background being visible.
 The UI-style is achieved by formatting the HTML tags as a blind table.
 This causes problems in Firefox only.
 This has the advantage that the remaining vertical space is automatically used
 by the AJAX content. This panel is used as template for stand alone panels like
 the one used for scan as well as for the panels that depend on another main
 panel. Note that the order of the buttons seems to be reversed. This is because
 they are all formated as float right where the first icon specified in HTML
 gets the rightmost place.
 
 Example:
 ```
 <html>
 <head>
   <!-- just for demonstrating dynimcally loaded content. -->
   <style>
.searchresults .demo {
  background-color: pink;
}
#panel1 {
position: absolute; left: 20px; top: 10px; width: 200px; height: 100px;
}

.titletopiconpin.c_s-hidden {
display: inline;
}

.titletopiconmax:hover + .titletopiconpin {
display: none;
}

.titletopiconclose:hover ~ .titletopiconpin {
display: none;
}
   </style>
 </head>
 <body>
     <div class="c_s-ui-widget draggable ui-widget-content whiteback ui-resizable ui-draggable" id="panel1">
         <div class="c_s-ui-widget-header">
             <div class="c_s-line">
                 <span class="c_s-ui-widget-header-title">Search 1</span>
                 <span class="c_s-ui-widget-header-button titletopiconclose">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconmax">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconpin c_s-hidden">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconpin c_s-hidden c_s-grayed">
                        <!-- picture is set using css background! -->
                 </span>
             </div>
         </div>
         <div class="c_s-searchresults-container">
             <div class="searchresults">
                 <!-- just for demonstrating dynimcally loaded content. -->
                 <div class="demo">AJAX Response</div>
             </div>
         </div>
         <div class="c_s-panel-resize-spacer"><div class="c_s-line"></div></div>
     </div>
 </body>
 </html>

 ```
 */
html {
	height: 100%;
	width: 100%;
	background-color: #CCCCCC;
	font-family: verdana, helvetica, serif;
	font-size: 11px;
}
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

table {
	font-size: 11px;
}

.c_s-ui-widget-header {
        display: table-row;
        /* minimum height = height of the pictograms */
        height: 17px;
}

.c_s-ui-widget-header > .c_s-line
{
    	cursor: move;
	border: 1px solid #aaaaaa;
	background: #cccccc url(base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
        border-radius: 6px;
	font-size: 12px;
}

.c_s-ui-widget-header-button {
        float: right;
        /* minimum width = width of the pictograms */
        width: 17px;
        height: 17px;
        background-position: 1px 1px;
        background-size: 15px 15px;
        background-repeat: no-repeat;
        cursor: default;
}

.c_s-ui-widget-header-button.c_s-hidden {
    display: none;
}
    /* -- Table based layout -- */
.c_s-ui-widget.ui-widget-content {
     display: table; 
    /* Who exactly sees this particular shade of blueish white?
       If the PNG is used for this (jQuery standard), it's not clipped at 
       the corners in chrome...*/
    background: #FAFAFF;
}

.c_s-line {
    display: table-cell;
    height: 1px;
}

.c_s-ui-widget-header .c_s-line {
    /* minimum height = height of the pictograms */
    height: 17px;
    cursor: move;
    border: 1px solid #aaaaaa;
    background: #cccccc url(base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

.noborder {
	border: none;
}

.titletopiconmax > img, .titletopiconclose > img, .titletopiconpin > img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.c_s-hidden {
    display: none;
}

.titletopiconpin {
    /* has to be enabled if needed -> c_s-hidden*/
    background-image: url(img/pin.color.png);
}

.titletopiconpin.c_s-grayed{
    /* has to be enabled if needed -> c_s-hidden */
    background-image: url(img/pin.gray.png);
}

.titletopiconmax {
    background-image: url(img/n.win_max.png);
}

.titletopiconclose {
    background-image: url(img/n.win_close.png);
}

.c_s-searchresults-container {
    display: table-row;
    /*height: 77%;*/
}

.c_s-panel-resize-spacer {
    display: table-row;
    height: 10px;
}
.c_s-searchresults-container .searchresults {
    border-top: 5px solid white;
    height: calc(100% - 5px);
}

.c_s-searchresults-container .searchresults img {
    width: 320px;
    float: right;
}

.c_s-searchresults-container > .c_s-line {
    /* This has the strange interpretation of "as high as the whole table in IE".
       The visible effect is that the height of scrollable panels gets changed
       if IE is used to view a profile and the cursor jumps when the panel is
       resized. Flexbox layout is needed.*/
    height: 100%;
}

.c_s-scroll-area {
    /* This works in every browser but Firefox. Needs to be emulated there.
       The alternative is the flexbox layout. The most current version is
       not available in Firefox below 21 (e.g. 17)*/
    height: 100%;
    overflow: auto;
}

/*
 Side bar: The initial user interface
 ====================================

 The sidebar is a table with a single column and two rows.
 All ui elements are placed in the first row. The buttons are styled a elements.
 Their class is "searchresult" (for whatever reason).
 There is a default margin for h3 elements (14px).
 As we don't use h3 in the usual way this has to be reset to 0.
 Note/Todo: This use of of a blind table is discouraged in web designs in 2013.
 This should be changed in the long run.
 
 Messagebox
 ----------
 Something that might be of use some time. Now it's a div placed 300px left of(f) the screen.
 ```
    <div id="sidebar">
     	<table class="sidebar">
     		 <tr>
      		 	<td class="sidebar">
<h3>ICLTT Corpus Shell</h3>
                      <div style="padding: 10px;" id="searchbuttons">
                          <span class="sidebar">New search panel</span>
                      </div>
                      <div style="padding: 10px;" id="openpanels">
                          <span class="sidebar" id="TogglePanelListButton">Show panel list</span>
                      </div>
                      <div style="padding: 10px;" id="profilebuttons">
                          <span class="sidebar" id="profileload">Load selected profile</span>
                          <span class="sidebar" id="profiledel" style="margin-top: 5px;">Delete selected profile</span>
                          <span class="sidebar" id="profilesave" style="margin-top: 10px;">Save current profile as ...</span>
                          <span class="sidebar" id="profilenew" style="margin-top: 5px;">Create new profile</span>
                          <input type="text" class="searchstring" id="newprofilename" style="margin: 5px 0px;"/>
                          <span class="sidebar" id="profilerefresh" style="margin-top: 10px;">Refresh user profiles</span>
                      </div>
                      <div style="padding: 10px;" id="indexes">
                          <!--
                          <a href="#" onclick="RefreshIndexes();" class="sidebar" id="RefreshIndexesButton">Refresh indexes</a>
                          <a href="#" onclick="LoadIndexCache();" class="sidebar" id="LoadIndexesButton">Load indexes</a>
                          -->
                          <span class="sidebar" id="ShowIndexesButton">Show indexes</span>
                      </div>
                      <div style="padding: 10px;" id="userdata">
                          <span style="color: #000000; width: 100%;">Link to your profiles: </span> <br/>
                          <input style="width: 100%;" type="text" value="" id="userid" onclick="this.select();"/>
                      </div>
         		</td>
         		<td class="sidebartoggle">
      		 		<img id="sidebaricon" src="http://corpus3.aac.ac.at/cs2/corpus_shell/scripts/style/img/sidebargrip.left.png" />
      		 	</td>
      		 <tr>
      	</table>
    </div>
    <div id="messagebox">Message</div>
 <!-- comments found:
 border: 1px solid #FFFFFF;
 in #messagebox as well as in #sidebar
 -->
 ```
 */
#sidebar {
	height: 100%;
	width: 210px;
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	z-index: 100010;
}

table.sidebar {
	height: 100%;
	width: 100%;
	border: none;
	border-collapse: collapse;
}

td.sidebar {
	height: 100%;
	width: 193px;
	color: #FFFFFF;
	padding: 0px;
	vertical-align: top;
}

td.sidebar h3 {
	font-size: 14px;
        font-weight: bold;
	padding: 35px 10px 15px;
	background-color: #286290;
	margin: 0;
}

td.sidebartoggle {
	height: 100%;
	width: 7px;
	background-color: #214F75;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

#messagebox {
	height: 100px;
	width: 200px;
	background-color: #286290;
	color: #FFFFFF;
	position: absolute;
	left: -300px;
}

a.internal {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	text-align: left;
}

td.sidebar .sidebar, td.sidebar .sidebar:link, td.sidebar .sidebar:active, td.sidebar .sidebar:visited {
	display: block;
	font-size: 12px;
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	text-align: left;
	padding: 5px 10px;
	border: 1px dotted #286290;
        cursor: default;
}

td.sidebar .sidebar:hover, td.sidebar .sidebar:focus {
	color: #FFFFFF;
	background-color: #286290;
	display: block;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
	padding: 5px 10px;
	border: 1px solid #286290;
}
a.searchresult:link, a.searchresult:active, a.searchresult:visited {
	font-size: 12px;
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	text-align: left;
	padding: 3px 6px;
	border: 1px dotted #286290;
}

a.searchresult:hover, a.searchresult:focus {
	color: #FFFFFF;
	background-color: #286290;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
	padding: 3px 6px;
	border: 1px solid #286290;
}
/*
 Styles for the result "windows"
 ===============================
 These styles define how the search result windows look like. The layout is
 achieved by using styling the HTML tags as blind table.
 
 ```
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="scripts/style/corpusshell.css"/>
        <link rel="stylesheet" href="scripts/style/jquery/clarindotblue/jquery-ui-1.8.24.custom.css" type="text/css">

        <!-- just for demonstrating dynimcally loaded content. -->
        <style>
            .searchresults .demo {
                background-color: pink;
                height: 100%;
            }
            #panel1 {
                left: 20px; top: 10px; width: 500px; height: 250px; position: absolute; z-index: 2;
            }
            #autocomplete-demo2 {
                z-index: 14; top: 10px; left: 540px; display: block; width: 159px;
            }
            .ui-autocomplete.ui-menu {
                z-index: 14;
                display: none;
            }
            .ui-autocomplete-input:focus + .ui-autocomplete.ui-menu {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="c_s-ui-widget draggable ui-widget-content whiteback ui-resizable ui-draggable" id="panel1">
            <div class="c_s-ui-widget-header">
                <div class="c_s-line">
                    <span class="c_s-ui-widget-header-title">Search 1</span>
                 <span class="c_s-ui-widget-header-button titletopiconclose">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconmax">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconpin c_s-hidden">
                        <!-- picture is set using css background! -->
                 </span>
                 <span class="c_s-ui-widget-header-button titletopiconpin c_s-hidden c_s-grayed">
                        <!-- picture is set using css background! -->
                 </span>
                </div>
            </div>
            <div class="c_s-search-ui">
                <div class="c_s-line">
                Search for
                <div style="display: inline-block">
                    <input aria-haspopup="true" class="searchstring ui-autocomplete-input" role="textbox" type="text" autocomplete="off" aria-autocomplete="list" value="Select for suggestions"/>
                    <ul role="menu" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all">
                        <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Suggestions for search results:</a></li>
                        <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">CQL Server Choice</a></li>
                        <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">CQL All</a></li>
                        <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">part of speech</a></li>
                    </ul>
                </div>
                in <select class="searchcombo">
                    <option value="0">Resource 0</option>
                    <option value="1">Resource 1</option>
                </select>
                <div class="c_s-ui-searchbutton">
                    <input class="searchbutton" value="Go" type="button">
                </div>
                </div>
            </div>
            <div class="c_s-navigation-ui">
                <div class="c_s-line">
                <span class="navigationtitle">Search results</span>
                <span class="navigationmain">
                    <i>hits:</i>&nbsp;<span class="hitcount">101</span>;&nbsp;<i>from:</i>&nbsp;<input class="startrecord" type="text">&nbsp;<i>max:</i>&nbsp;
                    <input class="maxrecord" type="text">
                    <span class="load"></span>
                    <span class="prev"></span>
                    <span class="next"></span>
                </span>
                </div>
            </div>
            <div class="c_s-searchresults-container">
                <div class="searchresults">
                    <!-- just for demonstrating dynimcally loaded content. -->
                    <div class="demo">AJAX Response</div>
                </div>
            </div>
            <div class="c_s-panel-resize-spacer"><div class="c_s-line"></div></div>
        </div>
        <ul role="menu" id="autocomplete-demo2" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all">
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Suggestions for search results:</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">CQL Server Choice</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">CQL All</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">part of speech</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 5</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 6</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 7</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 8</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 9</a></li>
            <li role="menuitem" class="ui-menu-item"><a tabindex="-1" class="ui-corner-all">Item 10</a></li>
        </ul>
    </body>
</html>
 ```
 */

.navigationmain .load,
.navigationmain .prev,
.navigationmain .next {
    width: 16px;
    height: 16px;
    background-position: 1.5px 1.5px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
 }
 
 .navigationmain .load {
    background-image: url(img/n.arrow_right_b.png);  
 }
 
 .navigationmain .prev {
    background-image: url(img/n.arrow_left.png);  
 }
 
 .navigationmain .next {
    background-image: url(img/n.arrow_right.png); 
 }
 
.ui-icon {
	width: 16px;
	height: 16px;
	background-image: url(base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/;
}
.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-resizable-helper {
	border: 1px dotted #666666;
}

.c_s-search-ui {
        display: table-row;
}

.c_s-search-ui .c_s-line {
        padding: 8px;
	font-size: 12px;
}

.c_s-navigation-ui {
        display: table-row;
}

.c_s-navigation-ui .c_s-line {
	padding: 5px 8px;
	font-size: 12px;
        background-color: #CCCCCC;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.c_s-ui-searchbutton{
        float: right; 
}

.searchresults {
	color: #000000;
	clear: both;
	position: relative;
}

input.searchstring, select.searchcombo {
	border: 1px solid #CCCCCC;
	width: 183px;
}

input.searchbutton {
	border: 1px solid #CCCCCC;
	color: #000000;
}

.navigationtitle {
	text-align: left;
	font-size: 14px;
	font-variant: small-caps;
}

.navigationmain {
        float: right;
	text-align: right;
	vertical-align: middle;
	font-size: 10px;
	padding: 0px 10px;
}

span.hitcount {
	font-weight: bold;
	font-size: 14px;
	vertical-align: bottom;
}

input.startrecord, input.maxrecord {
	border: 1px solid #CCCCCC;
	width: 40px;
	text-align: right;
	font-size: 10px;
	vertical-align: middle;
}

img.navigationicon {
	border: none;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-left: 2px;
	padding: 0px;
}

.draggable {
	padding: 3px;
	float: left;
	margin: 3px; /* font-size: .9em; */
	border: 1px solid #286290;
	overflow: visible;
	border-radius: 6px;
}
.ui-widget-header p, .ui-widget-content p {
	margin: 0;
	padding: 0px 0px 0px 10px;
        border-radius: 6px;
	font-size: 12px;
}

.loading {
	background-image: url("img/icon_get.gif");
}
.whiteback {
	background-color: #FFFFFF;
}
    /* Remainder of sbscrollpane (which is not redistributable) */
.scroll-pane {
	width: 100%;
	height: 195px;
	overflow: auto;
}
.slider-wrap, .ui-slider-handle {
	width: 15px;
}
/*
 Snaptarget: the space where the search result windows are drawn
 ===============================================================

 In essence this is a white surface.
 Note that that snaptharget extends below the side bar.
 Maybe it should be absolute: #snaptarget { height: 910px; width: 1110px; border: none; background: #EEEEEE url(); position: relative;}
 ```
 <div id=sidebar style="height: 100%; width: 210px; border-width: 1px; border-style: solid;">Sidebar</div>
 <div id="mainpanel" class="demo">
   <div id="snaptarget" style="text-align: center;">Snaptarget</div>
 </div>
 ```
 */
#snaptarget {
	height: 100%;
	width: 100%;
	border: none;
	background: #FFFFFF url();
	position: relative;
}

div.demo {
	border: none;
	padding: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

/*
 Styles used by VICAV language profiles
 ======================================
 Blind tables are used here. These should be replaced.
 
 Example:
```
<div id="some_container_window_dummy" class="searchresults" style="background: #FFFFFF;">
<div class="profiletext">
  <img src="images/damaskus-moschee-hof-1985.jpg" style="border:4px solid rgb(212,212,212); width:200px; height: 200px; float:right; margin: 10px 4px 10px 10px;"/>
  <h3>Damascus<span style="font-size: 6pt;font-weight: normal;"> (Contributed by Stephan Procházka)</span></h3>
  <table>
    <tbody>
      <tr>
        <td style="background:white;text-align:right;padding-right: 5px">Official name:</td>
        <td style="background:white; font-style: italic;">dimašq</td>
        <td style="background:white;width: 10px"></td>
        <td style="background:white;font-size:larger">دمشق</td>
      </tr>
      <tr style="backgound:white">
        <td style="background:white;text-align:right;padding-right: 5px">Local name:</td>
        <td style="background:white; font-style: italic;">ǝš-šām</td>
        <td style="background:white;width: 10px"></td>
        <td style="background:white;font-size:larger">الشام</td>
      </tr>
    </tbody>
  </table><br/>
  <br/>
  <h4>Typology</h4>
  <div>
    <p>Eastern › Syro-Palestinian › Central Syrian</p>
    <p>Urban, sedentary dialect, high-prestige variety</p>
  </div><br/>
  <br/>
  <h4>Audio data</h4>
  <div>
    <p>Songs in Damascus Arabic are abundantly found on YouTube, look for instance for
       the well-known band Kulna Sawa.
    </p>
  </div><br/>
  <br/>
  <h4>Texts</h4>
  Basic phrases <a href="#URL#sampletext=damascus_sample_01">→ </a><br/>
  <br/>
  <h4>Bibliography</h4>            
  <a href="#URL#biblio=vicav_bibl_002|vicavTaxonomy=Damascus">→ </a><br/>
  <br/>
</div>
</div>
```
 */
div.profiletext, div.profiletext p {
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	padding: 3px 0px;
}

div.profiletext h3 {
	font-size: 15px;
	margin: 10px 0px;
}
div.profiletext h4 {
	font-size: 13px;
	border-bottom: 1px solid #A82027;
}
/*
 Styles used by kwic search panels
 =================================
 Tables are used here. The tables here seem to have a sound semantic meaning.
 
 Example:
```
<div id="some_container_window_dummy" class="searchresults" style="background: #FFFFFF;">
  <table class="show">
    <thead>
      <tr>
        <th>pos</th><th>record</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td vAlign="top" rowSpan="2"><a class="internal" href="#">1</a></td><td><div class="title"></div></td>
      </tr>
      <tr>
        <td>
          <div>
            <div class="navigation">
            </div>
            <div class="data-view metadata">
              <span class="label">page: </span><span class="value">unknown</span>;<span class="label">date: </span><span class="value"></span>;
              <span class="label">file: </span><span class="value">mercks</span>;<span class="label">keywords: </span><span class="value"></span>; 
              <span class="label">scan: </span><span class="value"></span>;<span class="label">indices: </span><span class="value"> w p l wid f</span>; 
              <span class="label">orig: </span><span class="value"></span>; 
            </div>
            <div class="data-view kwic">
              <span class="context left">/ bey dem dann die </span> <span class="kw hilight">Frau</span> <span class="context right"> Obergefatterin / die _&amp;Frau Untergefatterin </span>
            </div>
            <div class="data-view full"><a href="#">full</a></div>
            <div class="data-view image"><a href="#">image</a></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
``` 
 */
.kw.hilight {
	background-color: #aaffaa;
}

div.data-view.metadata {
	color: #999999;
	font-style: italic;
}
/*
 CMD style
 =========
 ???
 */
.cmd {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: no-repeat center center;
	margin: 0px 1px;
	position: relative;
	top: 2px;
}

    /* A class for forcing the hand/pointer cursor (used for the mappanel dircles).*/
    .cursor_pointer {
        cursor: pointer;
    }