
/*{
  height: 100%;
}
*/
body
{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #CCCCCC;
  font-family: verdana, helvetica, serif;
  font-size: 11px;
}

table { font-size: 11px;}

#sidebar
{
  height: 100%;
  width: 210px;
  background-color: #FFFFFF;
  /* border: 1px solid #FFFFFF; */
  position: absolute;
  left: 0px;
  z-index: 100;
}

table.sidebar
{
  height: 100%;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

td.sidebar
{
  height: 100%;
  width: 193px;
  color: #FFFFFF;
  padding: 0px;
  vertical-align: top;
}

td.sidebar h3
{
 font-size: 14px;
 font-weight bold;
 padding: 35px 10px 15px;
 background-color: #286290;
}

td.sidebartoggle
{
  height: 100%;
  width: 7px;
  background-color: #214F75;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

#messagebox
{
  height: 100px;
  width: 200px;
  background-color: #286290;
  color: #FFFFFF;
  /* border: 1px solid #FFFFFF; */
  position: absolute;
  left: -300px;
}

a.sidebar:link, a.sidebar:active, a.sidebar:visited
{
  display: block;
  font-size:12px;
  color: #000000;
  background-color: transparent;
  text-decoration:none;
  text-align: left;
  padding: 5px 10px;
  border: 1px dotted #286290;
}

a.sidebar:hover,
a.sidebar:focus
{
  color: #FFFFFF;
  background-color: #286290;
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #286290;
}

a.searchresult:link, a.searchresult:active, a.searchresult:visited
{
  font-size:12px;
  color: #000000;
  background-color: transparent;
  text-decoration:none;
  text-align: left;
  padding: 3px 6px;
  border: 1px dotted #286290;
}

a.searchresult:hover,
a.searchresult:focus
{
  color: #FFFFFF;
  background-color: #286290;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  padding: 3px 6px;
  border: 1px solid #286290;
}

.noborder
{
  border: none;
}

img.titletopiconmax, img.titletopiconclose, img.titletopiconpin
{
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

div.searchdiv
{
  padding: 8px;
  font-size: 12px;
}

div.searchresults
{
  color: #000000;
  clear: both;
  position: relative;
}

input.searchstring, select.searchcombo
{
  border: 1px solid #CCCCCC;
  width: 183px;
}

input.searchbutton
{
	border: 1px solid #CCCCCC;
	color: #000000;
}

table.navigation
{
	border-collapse: collapse;
	border: none;
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	background-color: #CCCCCC;
	clear: both;
}

td.navigationtitle
{
	text-align: left;
	font-size: 14px;
	font-variant: small-caps;
	padding-left: 10px;
}

td.navigationmain
{
	text-align: right;
	vertical-align: middle;
	font-size: 10px;
	padding: 3px 10px;
}

span.hitcount
{
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
}

input.startrecord, input.maxrecord
{
	border: 1px solid #CCCCCC;
	width: 40px;
	text-align: right;
	font-size: 10px;
	vertical-align: middle;
}

img.navigationicon
{
	border: none;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-left: 2px;
	padding: 0px;
}

.draggable {padding: 3px; float: left; margin: 3px; /* font-size: .9em; */ border: 1px solid #286290; overflow: visible; border-radius: 6px;}
.ui-widget-header p, .ui-widget-content p { margin: 0; padding: 0px 0px 0px 10px; border-radius: 6px; font-size: 12px;}
.whiteback
{
  background-color: #FFFFFF;
}

/*
#snaptarget { height: 910px; width: 1110px; border: none; background: #EEEEEE url(); position: relative;}
*/
#snaptarget { height: 100%; width: 100%; border: none; background: #FFFFFF url(); position: relative;}
div p.ui-widget-header
{
  cursor: move;
  border: 1px solid #aaaaaa;
  background: #cccccc url(base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
}

.ui-icon { width: 16px; height: 16px; background-image: url(base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

.ui-resizable-helper { border: 1px dotted #666666; }
div.demo { border: none; padding: 0px; overflow: hidden; height: 100%; width: 100%; }
div.profiletext, div.profiletext p { text-align: left; font-size: 11px; font-weight: normal; padding: 3px 0px;}

div.profiletext h3 { font-size: 15px; margin: 10px 0px; }
div.profiletext h4 { font-size: 13px; border-bottom: 1px solid #A82027; }

.scroll-pane
{
  width: 100%;
  height: 195px;
  overflow: auto;
}

.slider-wrap, .ui-slider-handle
{
    width: 15px;
}

.cmd {	display: inline-block; 	width: 16px;	height: 16px;		background: no-repeat center center;
			margin: 0px 1px;	position: relative;	top: 2px; }

.loading { background-image: url("img/icon_get.gif");}

.kw.hilight { background-color: #aaffaa; }

div.data-view.metadata { color: #999999; font-style: italic; }

.ui-autocomplete
{
		max-height: 200px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}
