html {
    /*if set to white #FFF oXygen shows blue!?*/
	background-color: #FFFEFE;
}

span.bibl { font-style: italic; color: #000099;}

span.persName ,span.person { font-weight: bold;  color: #009900; }

span.placeName { font-weight: bold;  color: #990000; }

span.rs { font-weight: bold;  color: #333366; }

/* generic XML-structure rendering */
label, .label, .cmds-elem-prop .label {
font-size: 0.9em;
color: #014172;
font-style: italic;
}
.value-text {}
.value-unspecified {}
.value-empty {}
.number {
text-align: right;
}
.cmds-xmlelem.wrapper {
position: relative;
border-top: 0px;
}
.cmds-xmlelem.wrapper:before {
content: "\26ab";
color: darkgreen;
}
.cmds-xmlelem.wrapper > div {
display: none;
z-index: 1000;
position:absolute;
background: #fff;
left: 100%; bottom: 0;
box-shadow: 10px 5px 5px black;
}
.cmds-xmlelem.wrapper:hover > div,
.cmds-xmlelem.wrapper > div:hover {
    display: block;
}
.cmds-xmlelem {
padding:2px;
border-top: 1px dashed #A6C9E2;
}
.cmds-xmlelem.has-children {
border: 1px solid #A6C9E2;
margin: 2px;
}
.cmds-xmlelem.value-text .value {}
.cmds-xmlelem.value-text .value:before { content: ": "; }
.cmds-xmlelem.value-text .inline.label {}
.cmds-xmlelem.value-text .inline.label:after {}
.cmds-xmlelem.value-text .block.label {}
.cmds-xmlelem .attributes .inline.label {}
.cmds-xmlelem .attributes .inline.label:before {content: "\00a0";}
.cmds-xmlelem .attributes .value {}
.cmds-xmlelem .attributes .value:before {content: "=";}

body { font: 13px/1.5 'Istok', arial, sans-serif; }

input.virtual-keyboard-input {
    font-family: 'Istok';
}

.content {
    position: relative;
}

.zr-description,
.zr-indexInfo {
    position: relative;
    z-index: 2;
}

.zr-description.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    /*Old IEs < 8*/
    filter: alpha(opacity=30);
}

.hilight.match {
    color: red;
}

.result-header .note:before {
    content: "Query details ... ";
    font-size: 0.9em;
    color: #014172;
    font-style: italic;
}

.result-header .note:hover span {
    display: inline;
}

.result-header .note span {
    display: none;
}

.cmd_next,
.cmd_prev {
    position: absolute;
    background-image: url(base/images/ui-icons_2e83ff_256x240.png)/*{iconsContent}*/;
}

.cmd_prev {
    background-position: -80px -192px;
    left: 24px;
}

.cmd_next {
    background-position: -48px -192px;
    right: 24px;
}
.internal.next,
.internal.prev {
    display: inline-block;
    width: 49%;
    height: 16px;
    position: relative;
}

#header > a {
    display: block;
    float: right;
    clear: right;
    margin-left: 1em;
}

#header > div {
    float: left;
    clear: left;
    margin-right: 1em;
}