.wrapper.application_x-clarin-fcs-kwic_xml,
.application_x-clarin-fcs-kwic_xml .xsl-highlight {
    display: table;
}

.application_x-clarin-fcs-kwic_xml .hilight {
    background-color: #aaffaa;
}

.application_x-clarin-fcs-kwic_xml .kwic-line{
    display: table-row;
}

.application_x-clarin-fcs-kwic_xml .left,
.application_x-clarin-fcs-kwic_xml .right,
.application_x-clarin-fcs-kwic_xml .kw,
.application_x-clarin-fcs-kwic_xml .tei-ptr-doc {
    display: table-cell;
}

.application_x-clarin-fcs-kwic_xml .tei-w {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    border-bottom: 0px;
}

.application_x-clarin-fcs-kwic_xml .left {
   text-align: right;
   padding-left: 0.3em;
}

.application_x-clarin-fcs-kwic_xml .right {
   text-align: left;
   padding-right: 0.3em;
}


.application_x-clarin-fcs-kwic_xml .tei-ptr-doc {
    padding-right: 0.3em;
}

.application_x-clarin-fcs-kwic_xml .kw {
   text-align: center; 
}

.application_x-clarin-fcs-kwic_xml .left .tei-w {
    padding-right: 0.3em; 
}

.application_x-clarin-fcs-kwic_xml .right .tei-w {
    padding-left: 0.3em;  
}

.application_x-clarin-fcs-kwic_xml a,
.application_x-clarin-fcs-kwic_xml a:hover {
    color: #333;
    border-bottom: thin dotted #333;
    text-decoration: none;
}

.application_x-clarin-fcs-kwic_xml .tei-fs,
.tei-u-what .tei-fs {
    width: 8em;
    white-space: normal;
}

.application_x-clarin-fcs-kwic_xml .tei-fs > dt,
.tei-u-what .tei-fs > dt {
    width: 3em;
}

.application_x-clarin-fcs-kwic_xml .tei-fs > dt + dd,
.tei-u-what .tei-fs > dt + dd{
    color: inherit;
    width: 4em;
}

table.show tr.application_x-clarin-fcs-kwic_xml td:nth-child(2) {
    width: auto;
}