.tei-entry {
    margin-top: 15px;
    background: rgb(222,232,254);
    border: 1px solid grey
}

/*.tei-entry {
    margin-top: 15px;
    background:rgb(242,242,242);
    border: 1px solid grey
}*/

.tei-form-lemma,
.tei-form-multiWordUnit {
    font-weight: bold;
}

.tei-form-multiWordUnit {
    border-bottom: 1px dotted #AAA;
}

.tei-form-inflected {
    display: block;
    margin-left:30px
}

.tei-form-ana {
    font-weight: bold;
    font-style: italic;
    color: rgb(63,116,254);
}

/*.tei-form-ana {
    font-weight: bold;
    font-style: italic;
    color: blue;
}*/

.tei-form-ana:before {
    content: " (";
}

.tei-form-ana:after {
    content: ")";
}

.tei-orth.ar-arz-x-cairo-arabic:before {
    content:"(";
}

.tei-orth.ar-arz-x-cairo-arabic:after {
    content:")";
}

.tei-gramGrp {
    padding: 0 0 0 0;
    display: inline;
    color: rgb(247,15,9)
}

/*.tei-gramGrp {
    padding: 0 0 0 0;
    display: inline;
    color: rgb(0,64,0);
}*/
 
.tei-gramGrp:before {
    content:"[";
    color: black;
}

.tei-gramGrp:after {
    content:"]";
    margin-left: -4px;
    color: black;
}

dt.tei-gram {
    display: none;
}
/* hidden with the above statement */
dt.tei-gram:after {
    content: ":";
}

/* fist-child/nth-child(1) is the dt which is hidden */
.tei-gram:nth-child(2) {
    margin-left: -4px;
}

.tei-gram {
    margin: 0 0 0 0;
    display: inline;
    list-style: none;    
}

dd.tei-gram:after {
    content: ", ";
}

dd.tei-gram:nth-last-of-type(1):after {
    content: "";
}

.tei-gram.root {
    color: darkgreen;
}

.tei-cit.example {
    padding: 3px;
    color:green;
    border:1px solid rgb(97,137,1);
    background: rgb(250,255,183);
}

.tei-cit.translation-de {
    color:rgb(126,126,126);
    font-style: italic;
}

.tei-sense .tei-cits .tei-cit.example  {
    margin-left: 20px;
}

.tei-cit.example .tei-cit.translation-en {
    color: rgb(193,97,0);
    font-style: italic;
}

.tei-cit.translation-de:before {
    content: "(";
}

.tei-cit.translation-de:after {
    content: ")";
    margin-left: -4px;
}

.tei-cit.translation-de *:first-child {
    margin-left: -4px;
}

.tei-def.lang-de {
    color:rgb(126,126,126);
    font-style: italic
}

.tei-def.lang-de:before {
    content: "(";
    margin-left: 4px;
}

.tei-def.lang-de:after {
    content: ")";
}

.tei-sense > .tei-cits {
    margin-top: 5px;
    border-top:0.5px dotted grey;
}

.tei-sense > .tei-defs {
    margin-top: 5px;
    border-top:0.5px dotted grey;
    font-style: italic;
    color: rgb(36,53,208);
}

.tei-quote span.tei-usg.tei-type-hint {
    font-size: smaller;
    color:rgb(126,126,126);
}

.tei-quote span.tei-usg.tei-type-hint:before {
    content: "[";
}

.tei-quote span.tei-usg.tei-type-hint:after {
    content: "]";
}

.tei-usg.tei-type-dom {
    border: 1px solid green;
    font-size: smaller;
    padding: 1px 2px;
    color: green;
    border-radius: 8px;
}

.inline-wrap .bibl {
    font-size: x-small;
}

.inline-wrap .bibl:before {
    content: "\00a0"; 
}

.inline-wrap + .inline-wrap .bibl:before {
    content: ";\00a0";
    margin-left: -4px;
}
/*
 * hide during development
 *
.data-view.metadata,
div.note,
.result-header > span {
    display: none;
}
/**/