.tei-entry {
    background: #DEE8FE;
    margin-bottom: 1em;
}

.tei-cit.example {
    margin-bottom: 1em;
}

.tei-form-lemma,
.tei-form-multiWordUnit,
.tei-form-construction {
    display: inline-block;
    margin-bottom: 0.5em;
}

.tei-form-multiWordUnit {
    border-bottom: 1px dotted slategray;
}

.tei-orth,
.tei-form-construction {
    font-weight: bold;
}
.tei-form-inflected .tei-orth {
    font-weight: normal;
}
.tei-form-inflected,
.tei-bibls {
    display: block;
    margin-left: 1.5em;
}
.tei-cits {
    display: block;
    border: 1px solid lightslategray;
}
.tei-cit {
    display: block;
    padding: 0.2em;
}
.tei-gramGrp {
    display: inline;
}
dt.tei-gram {
    display: none;
}            
.tei-gram.pos,
.tei-gram.gender,
.tei-gram.subc,
.tei-form-ana,
.tei-defs {
    font-style: italic;
    color: #3366FF;
}
.tei-gram.root {
    color: #009966;
}
.tei-gram.root,
.tei-gram.pos,
.tei-gram.gender,
.tei-gram.subc,
.tei-gram.arguments
{
    display: inline;
}
.tei-form-ana:before {
    content: "\00a0";
}
dd.tei-gram {
    margin: 0;
}
.tei-cit.example {                
    /* background: #C7D8FE; */
    background: #EAF0FE;
}

.tei-entry .tei-cit.example {
    padding-left: 1.5em;
    border: 0;
    margin-bottom: 0;
}

.tei-entry .tei-cit {
    border-bottom: 1px solid lightslategray;
}
.tei-entry .tei-cit:nth-last-child(1) {
    border-bottom: 0;
}

.tei-cit.example .translation-de,
.tei-cit.example .translation-en,
.tei-cit.example .translation-fr,
.tei-cit.example .translation-es {
    border-bottom: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
}
.tei-cit.example .translation-en {
    border-top: 1px solid lightslategray;
}
.tei-bibls {
    height: 0.7em;
}
.tei-bibl {
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-size: xx-small;
    color: slategray;
}
.tei-def {
    display:block;
}            
.tei-usg.tei-type-dom,
.tei-usg.tei-type-prag {
    display: inline-block;
    border: 1px solid green;
    font-size: smaller;
    padding: 1px 2px;
    color: #00793B;
    border-radius: 8px;
    margin: 0.5em 0 0.5em 0;
}
.tei-gram:after,
.tei-bibl:after {
    content: ",";
}
.tei-bibl:nth-last-child(1):after,
dd.tei-gram:nth-last-child(3):after {
    content: "";
}
.tei-gram.arguments:before {
    content: "(";
}
.tei-gram.arguments:after {
    content: ")";
}
.tei-gram.arguments.compulsatory:before {
    content: "";
}
.tei-gram.arguments.compulsatory:after {
    content: "";
}
.tei-gram.root.xsl-first-of-group:before {
    content: "[";
}
.tei-gram.root:before {
    content: ",";
}
.tei-gram.root:after {
    content: "]";
}
.translation-en:before,
.translation-de:before,
.translation-fr:before,
.translation-es:before,
.lang-en:before,
.lang-de:before
{
    color: #00793B;
    font-size: xx-small;
    border: 1px solid #00793B;
    padding: 1px 2px 0 2px;
    border-radius: 5px;
    display: inline-block;
    width: 1em;
    text-align: center;
}
.translation-en:before,
.lang-en:before {
    content: "en";
}            
.lang-en:before,
.lang-de:before
{
    margin-right: 0.5em;
}
.translation-de:before,
.lang-de:before {
    content: "de";
}

.translation-fr:before {
    content: "fr";
}

.translation-es:before {
    content: "es"; 
}

.tei-usg.tei-type-dom {
    border: 1px solid green;
    font-size: smaller;
    padding: 1px 2px;
    color: green;
    border-radius: 8px;
}

table.show tr td:nth-child(2) {
    width: 100%;
}