/* specific look of the linguistic features layout*/
.searchresults .vicav_lingfeatures_001 a{
    text-decoration:none;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents {
    list-style: none;
    display: block;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents > li {
    display: inline;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents > li a {
    width: 33.33333%;
    display: inline;
    float: left;
    line-height: 1.5em;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents::after {
    content:'';
    display: block;
    clear: both;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents > li a.h1_contents {
    width: 100%;
    float: none;
    display: block;
    font-size: 14pt;
    text-decoration:none;
    clear: both;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents > li a.h2_contents {
    display:block;
    font-size:11pt;
    text-decoration:none;
}

.searchresults .vicav_lingfeatures_001 ul.dvContents > li a.h3_contents{
    display:block;
    font-size:10pt;
    text-decoration:none;
    text-indent:20px;
}

.searchresults .vicav_lingfeatures_001 .tei-head {
    margin-bottom: 10px;
    margin-top: 20px;
    background: rgb(215,235,255);
    border: 1px solid rgb(10,1,165);
    width: 100%;
}

.searchresults .vicav_lingfeatures_001 .tei-body .tei-div > table {
    display:table;    
}

.searchresults .vicav_lingfeatures_001 .tei-body .tei-div > * {
    position: relative;
    line-height: 1;
    padding-left: 10px;
    margin: 10px 0;
}

.searchresults .vicav_lingfeatures_001 .tei-body .tei-head > * {
    display: inline-block;
    width: 50%;
}

.searchresults .vicav_lingfeatures_001 .tei-body .tei-head > h1 {
    font-size:16pt;
}

.searchresults .vicav_lingfeatures_001 .tei-body .tei-head > h2 {
    font-size:14pt;
    margin: 6px 0;
}
.searchresults .vicav_lingfeatures_001 .tei-body .tei-head > h3 {
    font-size:12pt;
    margin: 4px 0;
}

.searchresults .vicav_lingfeatures_001 .tei-w.high {
    color: red;
}

.searchresults .vicav_lingfeatures_001 .xsl-aContents {
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

.searchresults .vicav_lingfeatures_001 .xsl-aContents:after {
    content:"\00a0\00a0";
}

.searchresults .vicav_lingfeatures_001 td.tdRight {
    padding-left:2em;
    padding-right:5px;
}

.searchresults .vicav_lingfeatures_001 .tei-table {
    width: 100%;
}

.searchresults .vicav_lingfeatures_001 .aOuter:hover{
    position:relative;
}

.searchresults .vicav_lingfeatures_001 .tei-cit.example .tei-cit {
    display: block;
    font-style: italic;  
}

.searchresults .vicav_lingfeatures_001 .tei-cit.example .tei-cit.translation-en {
    color: rgb(0,98,196); 
}

.searchresults .vicav_lingfeatures_001 .tei-cit.example .tei-cit.translation-de {
    color: rgb(98,98,98);  
}

.searchresults .vicav_lingfeatures_001 .tei-cit.example .tei-cit.translation-es {
    color: #CC6600;  
}

.searchresults .vicav_lingfeatures_001 .example {
    display: block;
    text-indent: -1em;
    line-height: 20px;
    color: black;
    position: relative;
}

.searchresults .vicav_lingfeatures_001 .tei-cit.example {
    padding: 0;
    color: inherit;
    border: 0;
    background: inherit;
}

/* defaults if not displayed in an already customized layout like drupal*/
table.tei-table {
    border:1px solid #000000;
    border-collapse:collapse;
}
td.tei-cell {
    border:1px solid #000000;
    vertical-align: top;
}

.tdCom {
    background: rgb(223,223,223);
    padding-left: 10px;
    padding-right: 5px;
    width: 200px;
}

.tdLeft {
    background: rgb(223,223,223);
    padding-left:10px;
    padding-right:5px;
    width: 80px;
}

.tdRight {
    background: rgb(223,223,223);
}