/**
 * Virtual keyboard (mockup)
 */
 
 input.virtual-keyboard-input:focus + ul.virtual-keyboard,
 ul.virtual-keyboard:active,
 ul.virtual-keyboard:hover {
     display: block;
 }
 
 ul.virtual-keyboard {
     font-size: 120%; 
     list-style-type: none;
     list-style: none;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border: 1px solid #BBB;
     background: #BBB;
     padding: 0 0.3em 0.2em 0.1em;
     display: none;
     position: fixed;
     z-index: 100;
     margin-bottom: 0;
     margin-top: 8px;
 }
 
 ul.virtual-keyboard li {
     display: inline-block;
     width: 2em;
     -webkit-box-shadow: 0.2em 0.2em 0.1em 0px rgba(50, 50, 50, 1);
     -moz-box-shadow:    0.2em 0.2em 0.1em 0px rgba(50, 50, 50, 1);
     box-shadow:         0.2em 0.2em 0.1em 0px rgba(50, 50, 50, 1);
     text-align: center;
     background: #EEE;
     cursor: default;
     margin: 0.2em 0;
 }
 
 ul.virtual-keyboard:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #BBB transparent;
      top: -20px;
      left: 10px;      
 }

