<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- root CMD/explain-record describing this repository-->
    <property key="explain">clarin.at:icltt:cr</property>
    <property key="mappings">/db/cr/mappings.xml</property>
    <property key="data.path">/db/cr-data</property>
    <property key="cache.path">/db/cr-data/_indexes</property>
    <property key="metadata.path">/db/cr-data/_cmd</property>
    <property key="index.prefix">/db/cr-data/_indexes/index_</property>
    <property key="scripts.path">/db/cr/xsl/</property>
    <property key="scan.xsl">scan2view.xsl</property>
    <property key="searchRetrieve.xsl">result2view_v1.xsl</property>
    <property key="explain.xsl">explain2view.xsl</property>
    <property key="default.xsl">xml2view.xsl</property>
    <property key="test.xsl">test2view.xsl</property>
    <property key="base.url">http://localhost:8681/exist/cr/</property>
    <property key="scripts.url">http://localhost:8681/exist/cr-scripts/</property>
</config>