<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- root CMD/explain-record describing this repository-->
    <property key="site.name">ICLTT Content Repository</property>
    <property key="explain">clarin.at:icltt:cr</property>
    <property key="mappings">/db/cr/conf/cr/mappings.xml</property>
    <property key="data.path">/db/cr-data</property>
    <property key="cache.path">/db/cr-data/_indexes</property>
    <property key="metadata.path">/db/cr-data/_cmd</property>
    <property key="static.path">/db/cr/conf/cr/_static</property>
    <property key="index.prefix">/db/cr-data/_indexes/index_</property>
    <property key="base.url">/cr/cr.xql</property>
    <property key="scripts.url">/exist/cr-scripts/</property>
    <property key="site.logo">/exist/cr-scripts/style/logo_c_s.png</property>
</config>