<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- root CMD/explain-record describing this repository-->
    <property key="explain">clarin.at:icltt:cr</property>
    <property key="mappings">/db/cr/mappings.xml</property>
    <property key="data.path">/db/cr-data</property>
    <property key="metadata.path">/db/cr-data/_cmd</property>
    <property key="index.prefix">/db/cr-data/_indexes/index_</property>
</config>