<?xml version="1.0"?>
<config>
   <server>
       <key>clarin.at:icltt:ddc</key>
       <ip>192.168.0.5</ip>
       <port>50000</port>
       <displayText>Text corpora by ICLTT on DDC</displayText>
       <corpora>
           <item>
              <key>clarin.at:icltt:ddc:traum_deu</key>
              <name>traum_deu</name>
              <displayText>Freud: Die Traumdeutung, German</displayText>
              <dataview type="external" ref="http://corpus3.aac.ac.at/parcorp/index.php?secid=" />
              <index label="Lemma" key="l">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Word" key="w">2</index>
              <index label="Sentence" key="s">3</index>
           </item>
           <item>
              <key>clarin.at:icltt:ddc:traum_russ</key>
              <name>traum_russ</name>
              <displayText>Freud: Die Traumdeutung, Russian</displayText>
              <dataview type="external" ref="http://corpus3.aac.ac.at/parcorp/index.php?secid=" />
              <index label="Lemma" key="l">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Word" key="w">2</index>
              <index label="Sentence" key="s">3</index>
           </item>
           <item>
              <key>clarin.at:icltt:ddc:fackel</key>
              <name>fackel</name>
              <displayText>Die Fackel</displayText>
              <fileMask>FK-</fileMask>
              <dataview type="full" ref="http://corpus3.aac.ac.at/switch"/>
              <dataview type="image" ref="http://corpus3.aac.ac.at/switch"/>
              <index label="Word" key="w">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Lemma" key="l">2</index>
              <index label="ParId" key="pid">3</index>
              <index label="WordId" key="wid">4</index>
              <index label="File" key="f">5</index>
              <index label="Year" key="y">6</index>
              <index label="Volume" key="v">7</index>
              <index label="Issue" key="i">8</index>
              <index label="Page" key="pg">9</index>
              <showIndexes> </showIndexes>
           </item>
           <item>
              <key>clarin.at:icltt:ddc:barock</key>
              <name>barock</name>
              <displayText>Barocktexte</displayText>
              <!--
              <fileMask>Todten_Bruderschaft_</fileMask>
              -->
              <fileMask>Abraham-Mercks_Wienn_</fileMask>
              <dataview type="full" ref="http://corpus3.aac.ac.at/switch"/>
              <dataview type="image" ref="http://corpus3.aac.ac.at/switch"/>
              <index label="Word" key="w">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Lemma" key="l">2</index>
              <index label="WordId" key="wid">3</index>
              <index label="File" key="f">4</index>
           </item>
       </corpora>
   </server>
   <server>
       <key>clarin.at:icltt:ddc06</key>
       <ip>192.168.0.5</ip>
       <port>50020</port>
       <displayText>Text corpora by ICLTT on DDC</displayText>
       <corpora>
           <item>
              <key>clarin.at:icltt:ddc06:c4</key>
              <name></name>
              <displayText>C4</displayText>
              <index label="Word" key="w">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Lemma" key="l">2</index>
              <index label="Random" key="r">3</index>
              <showIndexes> bibl page site</showIndexes>
           </item>
       </corpora>
       <corpora>
           <item>
              <key>clarin.at:icltt:ddc06:c4_vienna</key>
              <name>c4_vienna</name>
              <displayText>C4 Vienna</displayText>
              <index label="Word" key="w">0</index>
              <index label="PoS" key="p">1</index>
              <index label="Lemma" key="l">2</index>
              <index label="Random" key="r">3</index>
              <showIndexes> bibl page site</showIndexes>
           </item>
       </corpora>
   </server>
</config>