<Repositories>
   <item>
      <name>arz_eng_006</name>
      <label>VICAV dictionary Cairo-dialect</label>
      <id>1</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/glossary.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>apc_eng_002</name>
      <label>VICAV dictionary Damascus-dialect</label>
      <id>2</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/glossary.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>deu_wikt_002</name>
      <label>Wiktionary</label>
      <id>3</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/wiktionary.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/WiktionaryOnSRU.php</uri>
   </item>
   <item>
      <name>sru-corpus-ddcon</name>
      <label></label>
      <id>4</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/ddckwic.xsl</style>
      <uri>http://corpus3.aac.ac.at/ddconsru</uri>
   </item>
   <!--<item>
      <name>sru-cqlservlet</name>
      <label></label><id>5</id>
      <type>sru</type>
      <style>http://clarin.aac.ac.at/exist7/rest/db/content_repository/scripts/http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/mdset2view.xsl</style>
      <uri>http://cqlservlet.mpi.nl/</uri>
   </item> -->
   <item>
      <name>sru-gutenberg</name>
      <label>Gutenberg Metadata</label><id>6</id>
      <type>sru</type>
      <style>http://clarin.aac.ac.at/exist7/rest/db/content_repository/scripts/xsl/mdset2view.xsl</style>
      <uri>http://opencontent.indexdata.com/gutenberg</uri>
   </item>
   <item>
      <name>schnitzler</name>
      <label>Schnitzler Tagebuch</label>      <id>7</id>
      <type>sru</type>
      <style>http://clarin.aac.ac.at/exist7/rest/db/content_repository/scripts/xsl/mdset2view.xsl</style>
      <uri>http://clarin.aac.ac.at/exist7/rest/db/content_repository/scripts/cr.xql?</uri>
   </item>
   <item>
      <name>vicav-profile</name>
      <label>VICAV Profile</label>
      <id>8</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/profile.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/ProfileOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-bib</name>
      <label>VICAV Bibliography</label>
      <id>9</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/bibliography.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/BibliographyOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-text</name>
      <label>VICAV Sampletexte</label>
      <id>10</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/profilesampletext.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/SampleTextOnSRU.php</uri>
   </item>
	<item>
      <name>ids-goethe</name>
      <label>IDS Goethe</label>
      <id>11</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.ids-mannheim.de/cosmassru</uri>
   </item>
		<item>
      <name>arz_eng_006_newStyle</name>
      <label>VICAV dictionary Cairo-dialect newStyle</label>
      <id>12</id>
      <type>fcs</type>
      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/sru/GlossaryOnSRU.php</uri>
   </item>

</Repositories>